body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


/*Header*/

header ul li a:hover {
    color: red;
}

.joinNowBtn {
    background-color: #F80834;
}

.joinNowBtn:hover {
    background-color: rgb(230, 36, 36)!important;
}

.course2 .col-lg-3:hover {
    background-color: rgb(230, 36, 36)!important;
}


/*Footer*/

footer ul div:hover {
    color: #F80834 !important;
}

footer i:hover {
    color: #F80834 !important;
}